.title {
  color: goldenrod;
}


::ng-deep .mat-accent .mat-slider-thumb {
  background-color: gray;
}
::ng-deep .mat-accent .mat-slider-thumb-label {
  background-color: gray;
}
::ng-deep .mat-accent .mat-slider-track-fill {
  background-color: gray;
}

.numericalValue{
  color: goldenrod;
  font-weight: bold;
}
